#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
  border-right: 1px solid #bbb;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button {
  margin-top: 20px;
}





#datebuttondemo {
  margin-left: auto;
  margin-top: 20px;
}


#navbar a.active {
  background-color: #2F4F4F;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* formatting text <p> */
#format {
            /*
            Text shadow/box

            */
            text-shadow: 5px 5px 2px teal;
            color : blue;

            /*

            Justify Question

            */
            margin-top: 100px;

            margin-left: 25%;
            margin-right: 25%;
            padding: 5px 5px;
            text-align: center;
            text-align: justify;
            font-size: 20px;
        }

        @media screen and (max-width: 900px){
            #textArea{
                width: 100%;
                margin-left: 0;
            }
        }

/* formatting text 2 */
#format1 {
            border : 2px solid Violet;
            background-color:White;
            margin-left: 10%;
            margin-right: 10%;
            padding: 14px 16px;
            text-align: center;
            text-align: justify;
            font-size: 18px;
        }

        @media screen and (max-width: 900px){
            #textArea{
                width: 100%;
                margin-left: 0;
            }
        }

/* Top image */
#logo {
  width: 100%;
  height: 200px;

}

#braintxt{
text-align: center;

}

/* all img elements of img2 will have these properties */
#img2{
                width: 20%;
                height: 200px;
                 margin-left: 35%;
                margin-right: 10%;
                padding: 14px 16px;
                text-align: center;


}

/* Strategy Map */
#img1{

     margin-left: 25%;
     margin-right: 10%;
     padding: 14px 16px;
     text-align: center;
     box-shadow: 5px 5px 2px #ffff;
}

/* guards posing */
#img3{
                margin-left: 35%;
                margin-right: 10%;
                padding: 14px 16px;
                text-align: center;
                margin-top: auto;


}

/* jojo walk */
#img4{
                margin-left: 37%;
                margin-right: 10%;
                margin-top:100px;
                margin-bottom:20px;
                padding: 14px 16px;
                text-align: center;


}

/* Background image*/

.background {
  background-image: url(./Assets/Grey-Background.jpg);
}

/* title */
#title {
  text-align: center;
}

/* Begining video */
.video-wrapp {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*link at the end of page*/

#link1{
  position:absolute;
  right:1180px;
  margin-top:20px;

}
#link1:hover {
     color:#FF66FF;
}

#link1:active{
    color:crimson;
}
