/* Navigation layout */
#navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
}

#navbar li {
float: left;
  border-right: 1px solid #bbb;

}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Top image */
#logo {
  width: 100%;
  height: 400px;
}

/* Background image*/

.background {
  background-image: url(./Assets/alien.jpeg);
}

/* title */
#title {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

/* Begining video */
.video-wrapp {
  display: flex;
  justify-content: left;
  
}

/* message */
.message {
  font-size: 400;
}

/* footer*/
.notes {
  text-align: center;
  padding-top: 25px;
}

/* table */
table, th, td {
  border: 1px solid black;
  text-align: center;
}