/* Top image */
.logo {
  width: 100%;
  height: 400px;
}

/* Navigation layout */
.navbar {
  background-color: #2F4F4F;
}

/* Background image*/

.background {
  background-image: url(./Assets/alien.jpeg);
}

/* title */
#title {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

/* countdown */
.box {
  text-align: center; 
  font-family: sans-serif; 
  font-weight: 100; 
  float: right;
  background-color: #2F4F4F;
  margin-right: 20px;
}

.countdown{ 
  color: white; 
  font-weight: 100; 
  font-size: 40px; 
  margin: 40px 0px 20px; 
} 
 #clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
    margin: 2px 2px 2px 2px;
} 
#clockdiv > div{ 
    padding: 10px; 
    border-radius: 3px; 
    background: #00BF96; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 15px; 
    border-radius: 3px; 
    background: #00816A; 
    display: inline-block; 
} 
smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 

/* Begining video */
.video-wrapp {
  display: flex;
  justify-content: left;
  border-left: 4px solid #2F4F4F; 
  flex-direction: row;
}

/* message */
.message {
  font-size: 20px;
}

.message p.text {
  text-transform: uppercase;
  text-decoration: underline;
}
/* footer*/
.notes {
  text-align: center;
  padding-top: 25px;
}

/* table */
table, th, td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;    
}

th {
    
  font-size: 40px; 
  font-family: "Comic Sans", cursive, sans-serif;
  background-color: #2F4F4F;
  color: lightgoldenrodyellow;    
}

tr:nth-child(even){
    
    background-color: #f2f2f2;
}
